<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div id="menu">
        <p>
            Menu
        </p>
    </div>
    <div id="container">
        <div id="header">
            <p>
                Header
            </p>
        </div>

        <div id="containerMain">
            <div id="content">
                @RenderBody()
            </div>
            <div id="sideBar">
                <p>
                    SideBar
                </p>
            </div>
        </div>
    </div>
</body>
</html>
